<section id="about" class="pt-5">
  <div class="row">
    <div class="col">
      <h2>Informationen</h2>
      <p>
        Jedes Jahr, während die Alpenrosen blühen, verwandelt sich Schneisingen in ein lebendiges Festdorf, wenn das traditionelle Alpenrosenfest gefeiert wird.
        Ein Brauchtum, das seit über 100 Jahren besteht.
        Gefeiert wird eine botanische Besonderheit, die das Dorf weit über die Region hinaus bekannt macht:
        die einzigen wild wachsenden Alpenrosen ausserhalb der Alpen, eine echte Rarität, die auf einer kleinen Lichtung im Boowald gedeiht und streng geschützt wird.
      </p>
      <p>
        Das Fest ehrt nicht nur diese einzigartige Pflanze, sondern auch die Geschichte und die Sagen, die sich um sie ranken.
        Eine der bekanntesten Erzählungen berichtet von zwei Geschwistern, die 1798 vor den einfallenden Franzosen aus Nidwalden fliehen mussten.
        In der Sehnsucht nach ihrer Heimat trugen sie ein Stück Erde mit sich und mit ihr vermutlich die Samen der Alpenrose, die seither in Schneisingen heimisch geworden sein sollen.
      </p>
      <p>
        Mit Festwirtschaft, Musik, Spielen und einem stimmungsvollen Rahmenprogramm lädt das Alpenrosenfest dazu ein, diese besondere Tradition gemeinsam zu erleben und die Magie der Schneisinger Alpenrosen zu feiern.
      </p>
    </div>
  </div>
</section>