<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {{- range $i, $e := resources.Match "images/cover*.jpg" }}
      <div class="carousel-item{{ if eq $i 0 }} active{{ end }}" data-bs-interval="{{ site.Params.carouselInterval }}">
        <img src="{{ .RelPermalink }}" class="d-block w-100" alt="...">
        <div class="carousel-caption text-center bg-dark bg-opacity-25 p-4">
          <h1 class="display-1">{{ site.Title }}</h1>
          <h3 class="display-3">{{ time.Format "02.01.2006" site.Params.date }}</h3>
        </div>
      </div>
    {{- end }}
  </div>
</div>