<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://placehold.co/1920x1080" class="d-block w-100" alt="...">
            <div class="carousel-caption text-center bg-dark bg-opacity-25 p-4">
                <h1 class="display-1">{{ site.Params.event.name }}</h1>
                <h3 class="display-3">{{ time.Format "02.01.2006" site.Params.event.date }}</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080" class="d-block w-100" alt="...">
            <div class="carousel-caption text-center bg-dark bg-opacity-25 p-4">
                <h1 class="display-1">{{ site.Params.event.name }}</h1>
                <h3 class="display-3">{{ time.Format "02.01.2006" site.Params.event.date }}</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080" class="d-block w-100" alt="...">
            <div class="carousel-caption text-center bg-dark bg-opacity-25 p-4">
                <h1 class="display-1">{{ site.Params.event.name }}</h1>
                <h3 class="display-3">{{ time.Format "02.01.2006" site.Params.event.date }}</h3>
            </div>
        </div>
    </div>
</div>