<section id="location" class="pt-5">
    <div class="container">
        <div class="row">
            <h2>Standort</h2>
            <div class="col-md-8">
                <iframe
                style="width: 100%; height: 600px; border: 0;"
                allowfullscreen
                allow="geolocation"
                src="{{ site.Params.event.map }}">
                </iframe>
            </div>
            <div class="col-md-4">
                <h3>Anreise</h3>
                <p>
                    Das Alpenrosenfest erreicht man am besten zu Fuss.
                    Ab der Bushaltestelle "Schneisingen, Oberdorf" ist das Festgelände in etwa 20 Minuten zu erreichen.
                </p>
                <p>
                    Das Alpenrosenfest findet in der Waldlichtung bei den Alpenrosen statt.
                    Zufahrt ist über einen Flurweg bis zu den Parkplätzen bei der Wasserversorgung möglich. Von dort aus muss das letzte Stück zu Fuss zurückgelegt werden.
                </p>
                <p>
                    Der Shuttel-Bus fährt ab 10:00 vom Schulhaus Aemmert.
                </p>
            </div>
        </div>
    </div>
</section>