<section id="schedule" class="pt-5">
  <div class="container">
    <div class="row">
      <h2>Programm</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Zeit</th>
            <th scope="col">Programmpunkt</th>
          </tr>
        </thead>
        <tbody>
          {{- range site.Data.schedule}}
          <tr>
            <td>{{ .time }}</td>
            <td>{{ .content }}</td>
          </tr>
          {{- end }}
        </tbody>
      </table>
    </div>
  </div>
</section>