<section id="schedule" class="pt-5">
    <div class="container">
        <div class="row">
            <h2>Programm</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Zeit</th>
                        <th scope="col">Programmpunkt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ab 10:00</td>
                        <td>Shuttle-Bus ab Schulhaus Aemmert im Halbstundentakt.</td>
                    </tr>
                    <tr>
                        <td>10:30 - 11:30</td>
                        <td>Ökumenischer Gottesdienst mit musikalischer Begleitung durch die Spielgemeinschaft Ehrendingen-Schneisingen.</td>
                    </tr>
                    <tr>
                        <td>ab 11:30</td>
                        <td>Festwirtschaft und musikalische Unterhaltung.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>