{{- if gt (len site.Data.sponsors) 0 }}
<section id="sponsors" class="pt-5">
  <div class="container">
    <div class="row">
      <h2>Sponsoren</h2>
      <p>
        Wir danken unseren Sponsoren für ihre Unterstützung, die es uns ermöglicht, das Alpenrosenfest jedes
        Jahr durchzuführen.
        Ihre großzügige Unterstützung trägt dazu bei, dass wir ein vielfältiges Programm, spannende Attraktionen
        und eine festliche Atmosphäre bieten können.
        Vielen Dank an alle unsere Sponsoren für ihr Engagement und ihre Unterstützung!
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{- range site.Data.sponsors }}
          {{- partial "sponsors/sponsor-card.html" . }}
      {{- end }}
    </div>
  </div>
</section>
{{- end }}