{{ partial "head/preload.html" . }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ partial "head/meta.html" .}}

<link rel="icon" type="image/png" sizes="32x32" href="{{ absURL "favicon-32x32.png" }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ absURL "favicon-16x16.png" }}" />
<link rel="icon" type="image/png" sizes="48x48" href="{{ absURL "favicon-48x48.png" }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ absURL "favicon.ico" }}" />
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ absURL "apple-touch-icon.png" }}" />
<link rel="manifest" href="{{ absURL "site.webmanifest" }}" />

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}